<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>得点管理システム</title>
</head>
<body>
<h2>学生登録</h2>
<form th:action="@{/studentadd/}" th:object="${studentBook}" method="post">
	<!-- 入学年度 -->
	<div>
		<label>入学年度</label>
		<select name="entYear" id="entYear" th:field="*{entYear}" class="form-control" required>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
  			<option value="2022">2022</option>
  			<option value="2023">2023</option>
  			<option value="2025">2025</option>
  			<option value="2026">2026</option>
		  	<option value="2027">2027</option>
		  	<option value="2028">2028</option>
		  	<option value="2029">2029</option>
		  	<option value="2030">2030</option>
		  	<option value="2031">2031</option>
		  	<option value="2032">2032</option>
		  	<option value="2033">2033</option>
		</select>
	</div>
	
	<div>
		<label>学生番号</label>
		<input type="text" class="form-control" id="no" name="no" th:field="*{no}"
			th:classappend="${#fields.hasErrors('no')} ? 'is-invalid' : 'is-valid'" />
		<divvf="${#fields.hasErrors('no')}" th:errors="*{no}" class="invalid-feedback">errors!
	</div>
	<div>
		<label>氏名</label>
		<input type="text" class="form-control" id="name" name="name" th:field="*{name}"
			th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : 'is-valid'" />
		<divvf="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">errors!
	</div>
	<div>
		<label>クラス</label>
		<select name="classNum" id="classNum" th:field="*{classNum}" class="form-control" required>
		  <option value="101">101</option>
		  <option value="102">102</option>
		  <option value="103">103</option>
		</select>
	</div>
	<button class="btn btn-warning" th:href="@{/studentaddcomplete/}">登録する</button>
</form>
<a th:href="@{'/studenttop/'}">戻る</a>
 
 
</body>
</html>